// Mixin to create a linear gradient
@mixin linearGradient($color1, $color2, $direction:to bottom) {
  background: $color1;
  background: -webkit-linear-gradient($direction, $color1, $color2);
  background: -o-linear-gradient($direction, $color1, $color2);
  background: -moz-linear-gradient($direction, $color1, $color2);
  background: linear-gradient($direction, $color1, $color2);
}
// Mixin for creating animation transitions
@mixin transition($property, $time, $transition-timing) {
  -webkit-transition: $property $time $transition-timing;
  -moz-transition: $property $time $transition-timing;
  -o-transition: $property $time $transition-timing;
  transition: $property $time $transition-timing;
}
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  transform: rotate($degrees);
}
@mixin textStroke($fillColor, $strokeWidth, $strokeColor) {
  -webkit-text-fill-color: $fillColor;
  -webkit-text-stroke-width: $strokeWidth;
  -webkit-text-stroke-color: $strokeColor;
}
@mixin fontSize($size) {
  font-size: $size;
  font-size: calculate-rem($size);
}
@mixin lineHeight($size) {
  line-height: $size;
  line-height: calculate-rem($size);
}