// Fonts
$font-size-base: 16px;
$font-albert: 'Albert';
$font-proxima-nova: 'proxima_nova'; //Colors
// Base Colors
$color-white: #fff !default;
$color-black: #000 !default;

$color-green: #5ACA75 !default;

$color-grey-700: #333 !default;
$xsmall-max-breakpoint: 767px;
$small-min-breakpoint: 768px;
$small-max-breakpoint: 991px;
$medium-min-breakpoint: 992px;
$medium-max-breakpoint: 1265px;
$large-min-breakpoint: 1266px;
