/**
  * @desc - Styling for alert component
  * @elements - .alert-container, .alert
  * @link - false
*/
.alert-container {
  position: fixed;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  z-index: z("alert");
}
@include xs-only() {
  .alert-container {
    width: 100%;
    left: 0;
    margin-left: 0;
    padding: 0 15px;
  }
}
.alert-container-bottom {
  @extend .alert-container;
  bottom: 0;
  .alert {
    margin-bottom: 10px;
  }
}
.alert-container-top {
  @extend .alert-container;
  top: 0;
  .alert {
    margin-top: 10px;
  }
}
.alert {
  @include lineHeight(25px);
  line-height: 25px;
  position: relative;
  width: 100%;
  opacity: 0;
  top: -30px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 20px 18px;
  transition: opacity 0.5s, top 0.5s;
  i:before {
    position: absolute;
    @include fontSize(25px);
    // @include lineHeight(25px); // FIX IE
    line-height: 25px;
    top: 20px;
    left: 18px;
    margin-right: 10px;
  }
  p {
    font-weight: 100;
    display: block;
    span {
      font-weight: bold;
    }
  }
}
/**
  * @desc - Styling for alert component modifiers
  * @elements - .alert--danger, .alert--success, .alert--warning
  * @link - .alert
*/
.alert--danger,
.alert--success,
.alert--warning {
  @extend .alert;
}
.alert-content {
  display: block;
  margin-left: 40px;
  margin-right: 18px;
  p {
    @include lineHeight(25px);
  }
  ul {
    margin-top: 0;
    margin-bottom: 0;
    li {
      color: $color-blue-dark;
    }
  }
}
.alert--success {
  background-color: lighten($color-green-medium, 45%);
  border-color: lighten($color-green-medium, 35%);
  i,
  p {
    color: $color-green-medium;
  }
  .close-alert {
    color: $color-green-medium;
    border-bottom: none;
  }
}
.alert--warning {
  background-color: lighten($color-yellow, 40%);
  border-color: $color-yellow;
  i,
  p {
    color: $color-brown-dark;
  }
}
.alert--danger {
  background-color: lighten($color-red, 45%);
  border-color: $color-red;
  i,
  p {
    color: $color-red;
  }
  .close-alert {
    color: $color-red;
  }
}
/**
  * @desc - Styling for alert close icon
  * @elements - .close-alert
  * @link - none
*/
.close-alert {
  position: absolute;
  top: 20px;
  right: 18px;
  border-bottom: none;
  &:before {
    @include lineHeight(25px);
    @include fontSize(14px);
    @extend .icon-cross::before;
    font-family: 'icomoon' !important;
  }
}
/**
  * @desc - Styling for the icons of the alerts
  * @elements - .icon-alert-success, .icon-alert-danger, .icon-alert-warning
  * @link - none
*/
.icon-alert-danger:before,
.icon-alert-success:before,
.icon-alert-warning:before {
  position: absolute;
  left: 18px;
  top: 20px;
  @include fontSize(14px);
}
.icon-alert-success:before {
  @extend .icon-circle-down::before;
}
.icon-alert-warning:before {
  @extend .icon-warning::before;
}
.icon-alert-danger:before {
  @extend .icon-notification::before;
}
/**
  * @desc - Styling for the alerts, specific to this project
  * @elements - .alert-show, .drop-shadow
  * @link - none
*/
.alert-show {
  opacity: 1;
  top: 0;
}
.drop-shadow {
  box-shadow: 2px 4px 25px 4px rgba(0,0,0,0.1);
}