/**
  * @desc - Styling for the single product display
  * @elements - .product-tile, .image, .title, .card, .card--hover
  * @link - false
*/
.product-tile {
  margin-bottom: 50px;
  .image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  .title {
    text-align: center;
    padding: 0 25px;
    @include fontSize(16px);
    margin-top: 20px;
    min-height: 60px;
  }
  .card {
    padding: 15px 35px;
    width: 100%;
    box-shadow: 10px 10px 112px 0 rgba(199, 204, 222, .5);
    background-color: $color-white;
    position: relative;
  }
  .card--hover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 40px;
    opacity: 0;
    background: rgba($color-white, 0);
    transition: all 0.3s ease-in-out;
  }
  .card:hover {
    .image {
      transform: scale(1.1, 1.1);
    }
    .card--hover {
      opacity: 1;
      background: rgba($color-white, .7);
    }
  }
}